.main {
    min-height: 100vh;
    /* background-color: #fff; */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.main:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.main {
    display: block;
}
