.main {
    min-height: 100vh;
    /* background-color: #fff; */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 45px;
    max-width: 600px;
    font-weight: 800;
    margin: 100px auto 100px;
}

.sub_title {
    font-size: 25px;
    max-width: 600px;
    margin: 0px auto;
    font-weight: 300;
}

.scroll_arrow{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.scroll_arrow span {
    position: absolute;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

.scroll_arrow span:nth-child(1) {
    top: 10px;
    left: 10px;
    animation: arrow 2s infinite ease-in-out;
}

.scroll_arrow span:nth-child(2) {
    top: 10px;
    left: 10px;
    animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: translateY(0);
        transform: rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
        transform: rotate(45deg);
    }
}

@media (max-width: 630px) {
    .title {
        font-size: 35px;
    }
}

@media (max-width: 530px) {
    .title {
        font-size: 25px;
    }
}